/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); */

/* @import url("https://fonts.google/apis.com/css2?family=Noto+Sans+KR&family=Pixelify+Sans&display=swap"); */

/* init style css  */
* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
